# Build output
public/
/public/
*.tar.gz

# Zola cache
.zola-cache/

# VSCode/IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Docker artifacts
*.pid
.env
.env.*

# Python virtualenvs (caso use para scripts auxiliares)
venv/
.env/

# System files
.DS_Store
Thumbs.db
