{% set path = current_path | default(value="/") %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='home.css') }}">
    {% if config.extra.navbar %}
        {% for link in config.extra.navbar %}
            <link
                rel="stylesheet"
                href="{{ get_url(path=link.path) }}.css">
        {% endfor %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<nav>
  <div class="nav-title">
    <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
  </div>

  <input type="checkbox" id="menu-toggle" class="menu-toggle">
  <label for="menu-toggle" class="menu-icon">
    <svg viewBox="0 0 100 80" width="30" height="30">
      <rect width="100" height="10" fill="#eee"/>
      <rect y="30" width="100" height="10" fill="#eee"/>
      <rect y="60" width="100" height="10" fill="#eee"/>
    </svg>
  </label>
  <div class="nav-links">
    <a href="/" class="{% if path == '/' %}active{% endif %}">Início</a>
    {% if config.extra.navbar %}
        {% for link in config.extra.navbar %}
            <a href="{{ link.path }}"
               class="{% if path == link.path %}active{% endif %}">
              {{ link.path | replace(from="/", to="") }}
            </a>
        {% endfor %}
    {% endif %}
  </div>
</nav>

    {% block pre_main %}{% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>
{% set whatsapp = false %}
{% for item in config.extra.social %}
  {% if item.name == "WhatsApp" %}
    {% set_global whatsapp = item %}
  {% endif %}
{% endfor %}

{% if whatsapp %}
  <div class="whatsapp">
    <a href="{{ whatsapp.url }}" 
       class="whatsapp-float" 
       target="_blank" 
       aria-label="Fale comigo no WhatsApp">
      <img src="{{ get_url(path="uploads/icons/whatsapp-icon-color.svg") }}" 
           alt="WhatsApp" 
           style="width: 60px; height: 60px;">
    </a>
  </div>
{% endif %}
    <footer class="site-footer">
      <div class="footer-content">
        {% if config.extra.social %}
          <p>
            {% for item in config.extra.social %}
              <a href="{{ item.url }}" target="_blank" rel="noopener" title="{{ item.name }}">
                <img src="{{ get_url(path="uploads/icons/" ~ item.icon ~ ".svg") }}" alt="{{ item.name }}" class="icon">
              </a>
            {% endfor %}
          </p>
        {% endif %}
        {% if config.extra.email %}
          <p><a href="mailto:{{ config.extra.email }}">Contato por e-mail</a></p>
        {% endif %}
        <p>&copy; {{ now() | date(format="%Y") }} • {{ config.extra.autor }}. Todos os direitos reservados.</p>
        <p>Desenvolvido por <a href="https://pinheirocosta.com" target="_blank" rel="noopener">Rom</a></p>
      </div>
    </footer>
  </body>
</html>
