{% extends "base.html" %}

{% block content %}
  <h2>{{ section.title }}</h2>
  <p>{{ section.content | safe }}</p>

  <div class="galeria-grid">
    {% for page in section.pages %}
      <a href="{{ page.permalink }}">
        <div class="thumb-wrapper"
          {% if page.extra.gallery and page.extra.gallery | length > 0 and page.extra.gallery[0].type == "image" %}
            style="background-image: url('/{{ page.extra.gallery[0].src }}');"
          {% endif %}>
          <span class="thumb-title">{{ page.title }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
